body {
    font-family: 'Inter', sans-serif;
}

.section {
    min-height: 100vh;
    padding: 4rem 2rem;
}
.partition{
    min-height: 70vh;
    padding: 4rem 4rem;
}
.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #3b82f6;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.card {
    background: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    max-width: 120%;
    max-height: 120%;
    object-fit: contain;
}

.card.middle {
    transform: translateY(-20px);
}

.education-item {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 1rem;
}

.education-item img {
    width: 120px;
    height: 120px;
}

.project-card {
    background: white;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.project-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0.375rem;
    margin-bottom: 1rem;
}

.project-card p {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-bottom: 1rem;
}



.connections-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.connection-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 9999px;
    padding: 0.5rem;
    transition: transform 0.2s;
}

.connection-card img {
    width: 60px;
    height: 60px;
    border-radius: 9999px;
    object-fit: cover;
    border: 2px solid #ff6f61;
}

.connection-card:hover {
    transform: scale(1.1);
}